[core]
	excludesfile = /Users/alvaro/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = alvaro garcia

[alias]
	c = commit -m 
	cc = commit --all -m 
	ccr = commit --all -m "refactor: $2"
	cg = commit -m "green"
	ccg = commit --all -m "green"
	cam = commit --amend -m
	s = status
	aa = add --all
	a = add
	g = log --pretty --graph --oneline
	l = log -n1
	d = diff
	dl=log -n1 -p
	logauthors=log --format="%aN %aE %cN %cE"
	workwith=!cat ~/bin/pair_with.sh
	unchanged=update-index --assume-unchanged 
	no-unchanged=update-index --no-assume-unchanged 
#problem: adds two times the parameter
#	i = !echo "$@" >> .gitignore
[push]
	default = simple
[gui]
	editor = vim
[branch]
	autosetuprebase = always
